body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

}

h1 {
    font-size: 60px;
}

.large-size {
    font-size: 30px;
}

.ash-color {
    color: gray;
}

#large-headding {
    font-size: 70px;
}


.header-page {

    color: white;
    text-align: center;
    padding-top: 160px;
    background-image: url(images/donation13.jpg);
    background-position: center;
    padding-bottom: 9%;
    margin-bottom: 150px;
    background-size: cover;
    background-repeat: no-repeat;
}

.second-page {
    text-align: center;
    background-size: cover;
    margin-bottom: 150px;
}

.third-page {
    text-align: center;
}

.for-donate {
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 10px;
    background-image: linear-gradient(skyblue, blue);
    color: aliceblue;
    font-size: 20px;
    font-weight: 900;
}

.pill-nav a {

    display: inline-block;
    color: rgb(51, 50, 50);
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 40px;
    border-radius: 5px;
    font-weight: 900;
}

.pill-nav a.active {

    background-color: rgb(241, 232, 232);
    border: 2px solid red;
    color: red;
    padding: 40px 20px;
}

#down-border {
    border-bottom: 2px solid gray;

    color: gray;
}

.flexiable-container {
    display: flex;


}

#food {
    margin-top: 2%;
    margin-right: 1%;
    margin-bottom: 2%;
    margin-left: 10%;
    padding: 70px 50px;
    background-color: rgb(238, 238, 250);

}

#Shelter {
    margin-top: 2%;
    margin-right: 1%;
    margin-bottom: 2%;
    margin-left: 0%;
    padding: 70px 50px;
    background-color: rgb(238, 231, 221);

}

#Education {
    margin-top: 2%;
    margin-right: 10%;
    margin-bottom: 2%;
    margin-left: 0%;
    padding: 70px 50px;
    background-color: rgb(249, 239, 220);


}